
/*Condenedor principal del encabezado*/
#header{
    display:flex; /*Organiza el logo con el titulo*/
    justify-content:center;/*centra horizontalmente los elementos*/
    align-items:center;/*Centra verticalmente los elementos*/
    border:3px solid #1a98a1;/*Borde para el header*/
    background-color:#43f1fa;/*Color para el header*/
    color:#040404;/*Color para el título del header*/
    gap:15px;/*Espacio entre los elementos del header*/
    font-family:'Courier New', Courier, monospace;
}


/*Este es el estilo para el doctor 1 y el doctor 6
Los bordes de cada uno se definen azules y redondeados (5px), el fondo de azul
claro y el texto alineado a la derecha. La letra es de tipo Arial, sans-serif 
y el color del texto se define en un tono gris formal. se define un espacio interno a la derecha */
#Doctor1, #Doctor6 {
    border:5px solid #A03D60;
    border-radius: 20px ;
    background-color:#d44376;
    text-align: right;
    padding-right: 30px;
    font-family:sans-serif;
    color: #3b0616;


}

/*Este es el estilo para el doctor 2 y el doctor 5
Los bordes de cada uno se definen verdes y redondeados (5px), el fondo de verde
claro y el texto centrado. La letra es de tipo Arial, sans-serif 
y el color del texto se define en un tono gris formal. Se define un padding- right
para dejar espacio entre el centro y el borde derecho  */
#Doctor2, #Doctor5 {
    border:5px solid #8BBF55;
    border-radius: 20px ;
    background-color:#abdf43;
    text-align: center;
    font-family:sans-serif;
    color: #072212;

}
/* Estilo para el doctor 3 y el 4. Se definen los bordes morado y el fondo claro
. El texto se alinea a la izquierda y se define un espacio interno a la izquierda. color de la letra del texto
gris claro y tipo de letra igual a la de los anteriores*/
#Doctor3, #Doctor4 {
    border:5px solid #7A9BBF;
    border-radius: 20px ;
    background-color:#5c9dec;
    text-align: left;
    padding-left: 30px;
    font-family:sans-serif;
    color: #090653;
}

/*Se define el estilo de los botones, con los bordes oscuros y el fondo morado. Se 
define un radio de 5pz y el color del texto. El tamaño de la letra 15px y el espacio
superior de 10px*/
.boton{
    border:3px solid #0a38dc9d;
    border-radius: 5px ;
    background-color:#2c0d92;
    color:#ece5e5;
    font-size:15px;
    margin-top:10px;
    
}


/* Se centra el texto con espacio superior e inferior*/
.centrar{
    text-align:center;
    padding-top: 5px;
    padding-bottom: 30px;

}

/* Fondo general de la página. y se elimina el margen por defecto*/
body{
     background-color:#c3e0fc;
}

/*Se define el grid-container.Se definen bordes y fondo y se activa el CSS
grid. Se definen 3 columnas iguales y indica para usar el 90% del ancho de la pantalla. Se 
cierra el contenedor horizontalmente*/

.grid-container{
    border:0px solid #3debf5;
    border-radius: 10px;
    background-color:#9ef8fd;
    display:grid;
    grid-template-columns: 32% 32% 32%;
    gap:30px;
    width:100%;
    margin:20px auto;
}


#descripcion{
    text-align: center;/*centra el texto de la descripción*/
    font-family:'Courier New', Courier, monospace;
    color:#0a203a
}

/*Se le da estilo a la sección del footer. El borde se define verde
y el fondo verde claro. tamaño pequeño de texto y alineación a la izquierda*/
#footer{
    border:3px solid #1bbef9;
    background-color:#6bdcfe;
    font-size: 12px;
    font-family: sans-serif;
    text-align: left;
    font-size: 15px;
    padding-left: 20px;
    padding-bottom: 20px;
}